@model List<Flight>
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@using GBC_Travel_Group_136.Enum
@{
	ViewData["Title"] = "Fly";
	// Search parameters
	bool searchPerformed = ViewData["SearchPerformed"] as bool? ?? false;
	string searchString = ViewData["SearchString"] as string;
}

<h1>@ViewData["Title"]</h1>

@if (searchPerformed)
{
	<h4>Search results for: @searchString</h4>
}

@if (Model.Any())
{
	<table class="table">
		<thead>
			<tr>
				<td>Airline</td>
				<td>Info</td>
				<td></td>
			</tr>
		</thead>
		<tbody>
			@foreach (var flight in Model)
			{
				<tr>
					<td>@flight.Airline</td>
					<td>@await Component.InvokeAsync("FlightSummary", new {flightId = flight.FlightId})</td>
					<td>
						<a asp-area="BookingSystem" asp-action="Details" asp-route-id="@flight.FlightId" class="btn btn-info">Details</a>
						<a asp-area="BookingSystem" asp-action="Details" asp-route-id="@flight.FlightId" class="btn btn-info">Book</a>
						@if (User.IsInRole(Roles.Admin.ToString()))
						{
							<a asp-area="BookingSystem" asp-action="Edit" asp-route-id="@flight.FlightId" class="btn btn-secondary">Edit</a>
							<a asp-area="BookingSystem" asp-action="Delete" asp-route-id="@flight.FlightId" class="btn btn-danger">Delete</a>
						}
					</td>
				</tr>
			}
		</tbody>
	</table>
}
else
{
	if (searchPerformed)
	{
		<p>No Flights name with keyword "@searchString".</p>
	}
	else
	{
		<p>No Flights</p>
	}
}

@if (User.IsInRole(Roles.Admin.ToString()))
{
	<a class="btn btn-primary" asp-controller="Flight" asp-action="Create">Add New Flight</a>
}