@using GBC_Travel_Group_136.Areas.BookingSystem.Models;
@model List<Flight>
@{
	ViewData["Title"] = "Fly";
}

<h1>@ViewData["Title"]</h1>

<!-- search bar -->


@if (Model.Any())
{
	<table class="table">
		<thead>
			<tr>
				<td>Airline</td>
				<td>Origin</td>
				<td>Destination</td>
				<td>Departure</td>
				<td>Arrival</td>
				<td>Seats</td>
			</tr>
		</thead>
		<tbody>
			@foreach (var f in Model)
			{
				<tr>
					<td>@f.Airline</td>
					<td>@f.Origin</td>
					<td>@f.Destination</td>
					<td>@f.Departure</td>
					<td>@f.Arrival</td>
					<td>Amount</td>
				</tr>
			}
		</tbody>
	</table>
}
else
{
	
	{
		<p>No Projects</p>
	}
}
