@model List<Hotel>
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@using GBC_Travel_Group_136.Enum
@{
	ViewData["Title"] = "Sleep";
	bool searchPerformed = ViewData["SearchPerformed"] as bool? ?? false;
	string searchString = ViewData["SearchString"] as string;
}

<h1>@ViewData["Title"]</h1>

<!-- search bar -->
@if (Model.Any())
{
	<table class="table">
		<thead>
			<tr>
				<td>Hotel</td>
				<td>Info</td>
				<td></td>
			</tr>
		</thead>
		<tbody>
			@foreach (var hotel in Model)
			{
				<tr>
					<td>@hotel.HotelName</td>
					<td>@await Component.InvokeAsync("HotelSummary", new { hotelId = hotel.HotelId })</td>
					<td>
						<a asp-action="Details" asp-route-id="@hotel.HotelId" class="btn btn-info">Details</a>
						<a asp-action="Details" asp-route-id="@hotel.HotelId" class="btn btn-info">Book</a>
						@if (User.IsInRole(Roles.Admin.ToString()))
						{
							<a asp-action="Edit" asp-route-id="@hotel.HotelId" class="btn btn-secondary">Edit</a>
							<a asp-action="Delete" asp-route-id="@hotel.HotelId" class="btn btn-danger">Delete</a>
						}
					</td>
				</tr>
			}
		</tbody>
	</table>
}
else
{
	if (searchPerformed)
	{
		<p>No Hotels name with keyword "@searchString".</p>
	}
	else
	{
		<p>No Hotels</p>
	}
}

@if (User.IsInRole(Roles.Admin.ToString()))
{
	<a class="btn btn-primary" asp-controller="Hotel" asp-action="Create">Add New Flight</a>
}