@model Booking
@{
    ViewData["Title"] = "Book a Hotel Room";
}

<h1>@ViewData["Title"]</h1>
<hr />
@Html.Partial("../Hotel/_HotelDetails.cshtml", Model.Hotel)

@Html.Partial("../Hotel/_RoomDetails.cshtml", Model.Hotel.Rooms[0])
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <form asp-action="BookHotel">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    @Html.LabelFor(model => model.CheckInDate)
                    @Html.TextBoxFor(model => model.CheckInDate, "{0:MM/dd/yyyy}", new { @class = "form-control datepicker" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.CheckOutDate)
                    @Html.TextBoxFor(model => model.CheckOutDate, "{0:MM/dd/yyyy}", new { @class = "form-control datepicker" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.NumberOfRooms)
                    @Html.DropDownListFor(model => model.NumberOfRooms, Enumerable.Range(1, Model.Hotel.Rooms[0].Amount).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), "Select Number of Rooms", new { @class = "form-control" })
                </div>
            </form>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" asp-action="BookHotel" />
                <a asp-action="Index" class="btn btn-warning">Cancel</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}